footer {
    position: absolute;
    width: 570px;
    height: 22px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FFFFFF;   
}
h1 {
    color: red;
}
